<div class=" contenedor-footer container-fluid" id="contacto">
    <div class="row linea">
        <div class="content-foo col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xxl-3 container-fluid primero text-center s">
            <h4>WHATSAPP</h4>
            <div>
                <a href="https://wa.me/5491140685237">
                    <img src=".././../../assets/whatsapp.png" class="img-fluid whats"> Contacto
                </a>
            </div>
            <p><span>......</span></p>
        </div>
        <div class="content-foo col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xxl-3 container-fluid text-center s">
            <h4>EMAILS</h4>
            <p class="tamaño">adrian.latorre@gmail.com</p>
            <p class="tamaño">madesarrolloweb@gmail.com</p>

        </div>
        <div class="content-foo col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xxl-3 container-fluid   text-center s">
            <h4>LOCALIDAD</h4>
            <p>Ciudad Autónoma de Buenos Aires</p>
            <p>Argentina </p>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h2 class="titulo-final">Adrián Latorre</h2>

        </div>

        <div class="class= col-12 ">

            <h6 class="nosotros"><a href="https://madesarrolloweb.com/" target="_blank">Página diseñada por &copy; M&A Desarrollo Web</a></h6>
        </div>
    </div>
</div>
