<div class="container-fluid">
    <div class="row">
        <div class="col 10">
            <img class="img-fluid" [src]="imagenp" [alt]="imagenp">
        </div>
        <div class="text col-10">{{Titulo}}</div>
        <div class="subT col-10">Tarjeta</div>
    </div>
</div>


Traducir mensaje Desactivar para: inglés
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 text-center titulo">
            <h1>Qué servicios ofrecemos</h1>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2 img-fluid ser">
            <img src="../../../assets/Rehabilitacion-Fisica.jpg" alt="" class="img-fluid
 imge">
            <h3>Rehabilitación Física</h3>
            <p>Tratamiento especializado para recobrar la condición o el estado que se perdió a causa de una enfermedad u otro tipo de trastorno de salud.tal como lumbalgia mecánica, postoperatorios de columna y rodillas, esguince cervical entre otras.</p>
            <a href="#">Ver más</a>
        </div>

        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2 img-fluid ser">
            <img src="../../../assets/Gimnasio.jpg" alt="" class="img-fluid imge">
            <h3>Gimnasio</h3>
            <p>Ideal para complementar la reincorporación a las actividades diarias y mantener un estilo de vida activo y saludable.</p>
            <a href="#">Ver más</a>
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2 img-fluid ser">
            <img src="../../../assets/Game-Ready-pd9tw7yr4qduk90wx4k8gdifrpm3mp7mw91z3r5p9o.jpg" alt="" class="img-fluid imge">
            <h3>Game Ready</h3>
            <p>Equipo de alta tecnología que combina la crioterapia con la preso terapia para un resultado mas acelerado. Ideal para pacientes postquirúrgicos y atletas que desean mejorar su rendimiento.</p>
            <a href="#">Ver más</a>
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2 img-fluid ser">
            <img src="../../../assets/Masaje-deportivo.jpg" alt="" class="img-fluid imge">
            <h3>Masaje Deportivo</h3>
            <p>Técnica utilizada para evitar posibles lesiones, disminuir fatiga muscular, mantener la elasticidad ayudando a aumentar el rendimiento, mejorar el desempeño físico y evitar lesiones
            </p>
            <a href="#">Ver más</a>
        </div>
    </div>

    <div class="row justify-content-center ">
        <div class="col-3 text-center btn-v">
            <p class="btn-ver">
                <a class="btn btn-lg " href="# "> Ver todos los servicios </a>
            </p>
        </div>
    </div>

</div>
