.principal {
    color: rgb(23, 47, 133);
    font-size: 60px;
    font-family: 'Concert One', cursive;
    padding: 1.2%;
    padding-top: 5%;
}

.link {
    color: #fff;
}

.link:hover {
    color: #aaa;
    text-decoration: none;
}

.gal:hover {
    transform: rotateZ(360deg);
    content: '\f230';
    transition: 1s;
}

.row div a img {
    height: 100%;
}
