<div class="container-fluid" id="galeria">
    <h4 class="principal ">Proyectos Realizados</h4>

    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4 ">

            <a href="https://madesarrolloweb.com/" target="_blank"><img src="../../../assets/proyecto1.png" alt="imagen-galería" class="img-fluid gal">
                <p class="link text-center">Ir</p>
            </a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4 ">

            <a href="http://carlaberetta.es/" target="_blank"><img src="../../../assets/proyecto2.png" alt="imagen-galería" class="img-fluid gal">
                <p class="link text-center">Ir</p>
            </a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4 ">

            <a href="http://melinaberetta.madesarrolloweb.com/" target="_blank"><img src="../../../assets/Proyecto3.png" alt="imagen-galería" class="img-fluid gal">
                <p class="link text-center">ir</p>
            </a>
        </div>
    </div>

</div>
