<div class="container-fluid" id="experiencia">
    <h4 class="principal">Experiencia Laboral</h4>
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                M & A - Programador Full Stack | Enero 2022 - Presente<b>... </b> <img src="../../../assets/white_logo_color_background.jpg" class="adecco"> 
        </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <ul>
                        <li>Maquetados de aplicaciones web.</li>
                        <li>Análisis e implementación de SEO.</li>
                        <li>Implementeciones Responsive de las páginas.</li>
                        <li>Programación con HTML CSS Javascript Node Js Angular Bootstrap.</li>
                        <li>Programación con Java SpringBoot.</li>
                        <li>Armado, mantención y normalización de Bases de datos.</li>
                        <li>Elaboración de informes y reuniones de avance o finalización de proyecto.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                Telefónica en servicio al 911 Prov. Buenos Aires - Especialista Infraestructura Programación| Diciembre 2018 - Presente<b>... </b> <img src="../../../assets/telefonica.png" class="adecco"> 
        </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <ul>
                        <li>Soporte y administración de la Infraestructura 911 Buenos Aires.</li>
                        <li>Seguridad y actualización de servidores.</li>
                        <li>Resolución de problemas críticos que afecten al servicio.</li>
                        <li>Programación de automatizaciones en el monitoreo completo del servicio.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                IBM Argentina - Team Leader equipo de desarrolo | Abril 2007 - Marzo 2018<b>... </b><img src="../../../assets/IBM.jpg" class="adecco"> 
        </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <ul>
                        <li>Liderazgo de 4 líneas de trabajo (22 personas), desarrollo, base de datos, administración wsus, antivirusy homologación de entornos.</li>
                        <li>Seguimiento técnico y administrativo del personal, control horas trabajadas, extras, adicionales, evaluación técnica y capacitación para los recursos utilizados en cada proyecto.</li>
                        <li>Analista Funcional, UML, Metodologías Agiles, principalmente Scrum, XP y Kanbang. Interacción con áreas tanto técnicas como, contables, ventas, inventario, recursos humanos, en empresas de comunicación, entretenimiento, automotrices,
                            bancarias, petroleras, líneas aéreas, compañías de electricidad, etc..</li>
                        <li>Reuniones con los clientes, buscando el entendimiento de las necesidades del negocio, y acordando conjuntamente la mejor forma de aplicar los cambios deseados. minimizando el impacto del rechazo por acostumbramiento, y maximizando
                            los beneficios.</li>
                        <li>Documentación de procesos, procedimientos, lecciones aprendidas e idea logs, aplicando las mejores prácticas del mercado, para la fácil implementación en toda la compañía o en futuros proyectos.</li>
                        <li>Seguimiento de procesos según ITIL 3.0. ISO 2000, ISO 9000.</li>


                    </ul>
                </div>
            </div>
        </div>


        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                
                Telecom Argentina - Coordinador Soporte Onsite | Febrero 1998 - Abril 2007 <b>... </b><img src="../../../assets/Telecom_Argentina_Logo.svg.png" class="adecco"> 
        </button>
            </h2>
            <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <ul>
                        <li>Manejo de 40 personas, todos los soporte de AMBA, Ambiente Buenos Aires, de Telecom Argentina , seguimientos de procesos.</li>
                        <li>Reporte de SLA, SLO.</li>
                        <li>Seguimientos de procesos.</li>
                        <li>Contacto diario con clientes.</li>
                        <li>Cumplimiento de contratos, 100% de pc y servidores reparados.</li>

                    </ul>
                </div>
            </div>
        </div>



        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingFive">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseFive">
                Marval O´Farrell & Mayral - Técnico de sistemas | Marzo 1991 - Enero 1998 <b>... </b><img src="../../../assets/MO&M.jpg" class="adecco"> 
        </button>
            </h2>
            <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSSix" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <ul>
                        <li>Implementacion de la red informática del estudio.</li>
                    </ul>
                </div>
            </div>
        </div>


    </div>







    <h4 class="principal" id="formacion">Formación Académica</h4>
    <div class="accordion accordion-flush" id="accordionFlushExample1">
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingEight">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
                    Universidad Abierta Interamericana<b>... </b> <img src="../../../assets/UAI.png" class="adecco"> 
        </button>
            </h2>
            <div id="flush-collapseEight" class="accordion-collapse collapse" aria-labelledby="flush-headingEight" data-bs-parent="#accordionFlushExample1">
                <div class="accordion-body">
                    <ul>
                        <li>Ingeniería en sistemas de Información. (2014-2017)</li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingNine">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseNine">
                    UTN Buenos Aires<b>... </b> <img src="../../../assets/UTN.BA.png" class="adecco"> 
        </button>
            </h2>
            <div id="flush-collapseNine" class="accordion-collapse collapse" aria-labelledby="flush-headingNine" data-bs-parent="#accordionFlushExample1">
                <div class="accordion-body">
                    <ul>
                        <li>Diplomatura en Programación .NET (2019).</li>
                        <li>Python 3 - Nivel Inicial (2020)</li>
                        <li>Experto Universitario en Programación de Video Juegos con Unity (2019-2020)</li>
                        <li>Fundamentos de la Programación (2019)</li>
                        <li>Analista PMO (2015</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTeen">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTen" aria-expanded="false" aria-controls="flush-collapseTen">
                    IT College<b>... </b> <img src="../../../assets/IC.png" class="adecco"> 
        </button>
            </h2>
            <div id="flush-collapseTen" class="accordion-collapse collapse" aria-labelledby="flush-headingTen" data-bs-parent="#accordionFlushExample1">
                <div class="accordion-body">
                    <ul>
                        <li>Administracion SCCM (2014)</li>
                        <li>ITL Foundation 3.0 (2011)
                        </li>

                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>