<div class="container-fluid" id="habilidades">
    <div class="row">

        <div class=" col-xs-6 col-sm-6 col-md-4 col-lg-2 xl-2 xxl-2 img-fluid text-center">

            <circle-progress class="img-fluid" [percent]="70" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8" [outerStrokeColor]="'#281fcea3'" [innerStrokeColor]="'#ec5c35'" [animation]="true" [animationDuration]="800" [backgroundGradient]="true" [backgroundColor]="'#0d2b97'"
                [subtitle]="'Inglés'" [subtitleFontSize]="'30'" [subtitleColor]="'#FFF'" [subtitleFontWeight]="'700'" [unitsFontSize]="'30'" [unitsColor]="'#fff'" [titleFontSize]="'30'" [titleColor]="'#FFF'">

            </circle-progress>

        </div>

        <div class=" col-xs-6 col-sm-6 col-md-4 col-lg-2 xl-2 xxl-2 img-fluid text-center">

            <circle-progress class="img-fluid" [percent]="60" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8" [outerStrokeColor]="'#281fcea3'" [innerStrokeColor]="'#ec5c35'" [animation]="true" [animationDuration]="800" [backgroundGradient]="true" [backgroundColor]="'#0d2b97'"
                [subtitle]="'Java'" [subtitleFontSize]="'30'" [subtitleColor]="'#FFF'" [subtitleFontWeight]="'700'" [unitsFontSize]="'30'" [unitsColor]="'#fff'" [titleFontSize]="'30'" [titleColor]="'#FFF'">

            </circle-progress>

        </div>

        <div class=" col-xs-6 col-sm-6 col-md-4 col-lg-2 col-xl-2 col-xxl-2 img-fluid text-center">

            <circle-progress class="img-fluid" [percent]="90" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8" [outerStrokeColor]="'#281fcea3'" [innerStrokeColor]="'#ec5c35'" [animation]="true" [animationDuration]="800" [backgroundGradient]="true" [backgroundColor]="'#0d2b97'"
                [subtitle]="'Java Script'" [subtitleFontSize]="'30'" [subtitleColor]="'#FFF'" [subtitleFontWeight]="'700'" [unitsFontSize]="'30'" [unitsColor]="'#fff'" [titleFontSize]="'30'" [titleColor]="'#FFF'">

            </circle-progress>

        </div>
        <div class=" col-xs-6 col-sm-6 col-md-4 col-lg-2 col-xl-2 col-xxl-2 text-center">

            <circle-progress class="img-fluid" [percent]="70" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8" [outerStrokeColor]="'#281fcea3'" [innerStrokeColor]="'#ec5c35'" [animation]="true" [animationDuration]="800" [backgroundGradient]="true" [backgroundColor]="'#0d2b97'"
                [subtitle]="'Angular'" [subtitleFontSize]="'30'" [subtitleColor]="'#FFF'" [subtitleFontWeight]="'700'" [unitsFontSize]="'30'" [unitsColor]="'#fff'" [titleFontSize]="'30'" [titleColor]="'#FFF'">

            </circle-progress>

        </div>
        <div class=" col-xs-6 col-sm-6 col-md-4 col-lg-2 col-xl-2 col-xxl-2 text-center">

            <circle-progress class="img-fluid" [percent]="74" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8" [outerStrokeColor]="'#281fcea3'" [innerStrokeColor]="'#ec5c35'" [animation]="true" [animationDuration]="800" [backgroundGradient]="true" [backgroundColor]="'#0d2b97'"
                [subtitle]="'Node js'" [subtitleFontSize]="'30'" [subtitleColor]="'#FFF'" [subtitleFontWeight]="'700'" [unitsFontSize]="'30'" [unitsColor]="'#fff'" [titleFontSize]="'30'" [titleColor]="'#FFF'">

            </circle-progress>

        </div>
        <div class=" col-xs-6 col-sm-6 col-md-4 col-lg-2 col-xl-2 col-xxl-2 text-center">

            <circle-progress class="img-fluid" [percent]="90" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8" [outerStrokeColor]="'#281fcea3'" [innerStrokeColor]="'#ec5c35'" [animation]="true" [animationDuration]="800" [backgroundGradient]="true" [backgroundColor]="'#0d2b97'"
                [subtitle]="'SQL'" [subtitleFontSize]="'30'" [subtitleColor]="'#FFF'" [subtitleFontWeight]="'700'" [unitsFontSize]="'30'" [unitsColor]="'#fff'" [titleFontSize]="'30'" [titleColor]="'#FFF'">

            </circle-progress>

        </div>
    </div>
    <div class="row">
        <div class=" col-xs-6 col-sm-6 col-md-4 col-lg-2 col-xl-2 col-xxl-2 text-center">

            <circle-progress class="img-fluid" [percent]="70" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8" [outerStrokeColor]="'#281fcea3'" [innerStrokeColor]="'#ec5c35'" [animation]="true" [animationDuration]="800" [backgroundGradient]="true" [backgroundColor]="'#0d2b97'"
                [subtitle]="'Team Work'" [subtitleFontSize]="'28'" [subtitleColor]="'#FFF'" [subtitleFontWeight]="'700'" [unitsFontSize]="'30'" [unitsColor]="'#fff'" [titleFontSize]="'30'" [titleColor]="'#FFF'">

            </circle-progress>

        </div>
        <div class=" col-xs-6 col-sm-6 col-md-4 col-lg-2 col-xl-2 col-xxl-2 text-center">

            <circle-progress class="img-fluid" [percent]="78" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8" [outerStrokeColor]="'#281fcea3'" [innerStrokeColor]="'#ec5c35'" [animation]="true" [animationDuration]="800" [backgroundGradient]="true" [backgroundColor]="'#0d2b97'"
                [subtitle]="'Unity'" [subtitleFontSize]="'30'" [subtitleColor]="'#FFF'" [subtitleFontWeight]="'700'" [unitsFontSize]="'30'" [unitsColor]="'#fff'" [titleFontSize]="'30'" [titleColor]="'#FFF'">

            </circle-progress>

        </div>
        <div class=" col-xs-6 col-sm-6 col-md-4 col-lg-2 col-xl-2 col-xxl-2 text-center">

            <circle-progress class="img-fluid" [percent]="90" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8" [outerStrokeColor]="'#281fcea3'" [innerStrokeColor]="'#ec5c35'" [animation]="true" [animationDuration]="800" [backgroundGradient]="true" [backgroundColor]="'#0d2b97'"
                [subtitle]="'Diseño'" [subtitleFontSize]="'30'" [subtitleColor]="'#FFF'" [subtitleFontWeight]="'700'" [unitsFontSize]="'30'" [unitsColor]="'#fff'" [titleFontSize]="'30'" [titleColor]="'#FFF'">

            </circle-progress>

        </div>
        <div class=" col-xs-6 col-sm-6 col-md-4 col-lg-2 col-xl-2 col-xxl-2 text-center">

            <circle-progress class="img-fluid" [percent]="70" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8" [outerStrokeColor]="'#281fcea3'" [innerStrokeColor]="'#ec5c35'" [animation]="true" [animationDuration]="800" [backgroundGradient]="true" [backgroundColor]="'#0d2b97'"
                [subtitle]="'C#'" [subtitleFontSize]="'30'" [subtitleColor]="'#FFF'" [subtitleFontWeight]="'700'" [unitsFontSize]="'30'" [unitsColor]="'#fff'" [titleFontSize]="'30'" [titleColor]="'#FFF'">

            </circle-progress>

        </div>
        <div class=" col-xs-6 col-sm-6 col-md-4 col-lg-2 col-xl-2 col-xxl-2 text-center">

            <circle-progress class="img-fluid" [percent]="74" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8" [outerStrokeColor]="'#281fcea3'" [innerStrokeColor]="'#ec5c35'" [animation]="true" [animationDuration]="800" [backgroundGradient]="true" [backgroundColor]="'#0d2b97'"
                [subtitle]="'Phyton'" [subtitleFontSize]="'30'" [subtitleColor]="'#FFF'" [subtitleFontWeight]="'700'" [unitsFontSize]="'30'" [unitsColor]="'#fff'" [titleFontSize]="'30'" [titleColor]="'#FFF'">

            </circle-progress>

        </div>
        <div class=" col-xs-6 col-sm-6 col-md-4 col-lg-2 col-xl-2 col-xxl-2 text-center">

            <circle-progress class="img-fluid" [percent]="90" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8" [outerStrokeColor]="'#281fcea3'" [innerStrokeColor]="'#ec5c35'" [animation]="true" [animationDuration]="800" [backgroundGradient]="true" [backgroundColor]="'#0d2b97'"
                [subtitle]="'HTML y CSS'" [subtitleFontSize]="'27'" [subtitleColor]="'#FFF'" [subtitleFontWeight]="'700'" [unitsFontSize]="'30'" [unitsColor]="'#fff'" [titleFontSize]="'30'" [titleColor]="'#FFF'">

            </circle-progress>

        </div>

    </div>

</div>