<div class="container-fluid">
    <div class="dropdown">
        <button class="btn btn-outline-light dropdown boton" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <img class="img-fluid" src="../../../assets/iburguerblanco.png" >
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#acerca">Acerca de</a></li>
            <li><a class="dropdown-item" href="#experiencia">Experiencia Laboral</a></li>
            <li><a class="dropdown-item" href="#formacion">Formación Académica</a></li>
            <li><a class="dropdown-item" href="#habilidades">Habilidades</a></li>
            <li><a class="dropdown-item" href="#proyectos">Proyectos</a></li>


            <li><a class="dropdown-item" href="#contacto">Contacto</a></li>
        </ul>
    </div>
</div>